@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

html, body {
  height: 100%;
  font-family: 'Lora', serif;
  background: #fff;
  color: #666;
}

.modal-dialog {
  width: max-content !important;
  max-width: 1000px !important; 
}

.btn-primary {
  background: #FFC82C !important;
  border: none !important;
  outline: none !important;
  width: 100%;
  margin-top: 1rem;
}

.form-control:focus {
  border-color: #666;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background: #666 !important;
  outline: none !important;
  border: none !important;
}

.navbar-brand {
  display: block;
  font-size: 2rem;
  text-align: center;
  color:  #FFC82C !important;
  margin: 0px 0px 0px 0px;
  padding-bottom: 15px;
  font-family: 'Lemon', cursive;

}

.navbar {
  box-shadow: 5px 5px 1px 1px #444436;
}

.titleS {
  font-family: 'Lemon', cursive;
  text-align:  center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color:  #FFC82C !important;
  font-size: 3rem;
  margin-bottom: -2rem;
}
.titleDiv {
  background-color: #524D4D;
  opacity: 0.8;
}
.modal-content {
  font-family: 'Lemon', cursive;

}
.nav-item a {
  color: #FFF !important;
  font-family: 'Lemon', cursive;
  font-size: 1.5rem;
  margin-left: 3em;
}
.nav-item :active {
  color:#FFC82C !important;
}

.navbar-text {
  color: #FFF !important;
}

.navbar-brand:focus, .navbar-brand:hover, .navbar-brand:active {
  color: #FFF;
}

.meme-gen-modal {
  max-width: fit-content;
}

.modal-body {
  display: flex;
  border-radius: 0px;
  border: 1px none #000000;
  background-color: rgba( 246, 245, 243, 1.00 );
}

.modal-header {
  background-color: rgba( 246, 245, 243, 1.00 );
}

.meme-form {
  margin-left: 20px;
  padding-left: 20px;
  width: 300px;
  border-left: 1px solid #e9ecef;
}

.form-control:focus {
  box-shadow: none;
}

.image-holder {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 250px;
  margin: 1rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  padding: 7px; 
  background-color: #524D4D;
  font-family: 'Lemon', cursive;
  color:  #FFC82C !important;
  

}
.image-con {
  width: 200px;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}

.image-holder:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
}

.row {
  margin: 0 auto;
  justify-content: center;
}

.main-content {
  display: flex;
  background-color: #2E2727;
  padding-bottom: 200px;
}
.pagination {
  padding-left: 1rem;
  justify-content: center;
  align-items: flex-end;
  margin-top: 4rem;
}

.pagination button {
  background-color: #2E2727;
  color: #FFC82C;
}

.makeStyles-title-14 {
  font-size: 4rem !important;
  color: #FFC82C !important;
}
.makeStyles-button-27 {
  font-size: 2rem !important;
  padding: 1rem !important;
}
.content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
}

.meme-bottom-caption {
  position: absolute;
  font-size: 20px;
  display: block;
  width: 100%;
  font-family: Impact;
  text-align: center;
  text-transform: uppercase;
  bottom: 0;
  padding: 5px;
  color: #fff;
  letter-spacing: 1px;
  background: linear-gradient(to left, rgb(51, 51, 51), rgba(51, 51, 51, 0.81));
}

.meme-top-caption {
  position: absolute;
  font-size: 20px;
  display: block;
  width: 100%;
  font-family: Impact;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  padding: 5px;
  color: #fff;
  letter-spacing: 1px;
  background: linear-gradient(to left, rgb(51, 51, 51), rgba(51, 51, 51, 0.81));
}
.current-img {
  width: 200px;
  height: 200px;
}